.trailer{
    justify-content: center;
    display: flex;
    margin-top: 20px;
}
.backgroundImage{
    /* background-image: url("../assets/john_wick_yatay.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    position: relative;
}
.info{
    color:white;
}
.image{
    width: 1000;
    height: 400;
    object-fit: cover;
    opacity: 0.2;
}

.title{
    margin-top: 30px;
    font-weight: bold;
    font-size: 30px;
}
.tag{
    margin-top: 45px;
  
}
.col{
    /* background-color: red; */
    margin-left: 4%;
}
.time{
    opacity: 0.7;
}
.ant {
    color: white;
  }
  .customScroll {
    overflow-y: scroll;
    height: 300px;
    border-radius: 13px;
  }
  
  .customScroll::-webkit-scrollbar {
    width: 5px;
    border-radius: 13px;
  }
  
  .customScroll::-webkit-scrollbar-track {
    background: #20252b;
    border-radius: 13px;

  }
  
  .customScroll::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 13px;
  }
  .footer{
    margin-top: 10%;
  }
  .input{
        text-align: center;
        margin-top: 8%;
  }
  .glass{
    margin-top: 3%;
    border-style:dashed;
    border-color: white;
    border:"5px";
    padding-bottom: 1%; 
  }